<div class="rherault_userbundle_form">

    <form method="POST">

        <h2>Register</h2>

        <div class="mb-4">
            <label for="inputUsername">Username</label>
            <input type="text" name="username" id="inputUsername" placeholder="Username" required autofocus>
        </div>

        <div class="mb-4">
            <label for="inputEmail">Email</label>
            <input type="email" name="email" id="inputEmail" placeholder="Email" required autofocus>
        </div>

        <div class="mb-4">
            <label for="inputName">Full name</label>
            <input type="text" name="name" id="inputName" placeholder="Full name" required>
        </div>

        <div class="mb-6">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="**********" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Register</button>
    </form>
</div>
