<div class="rherault_userbundle_form">
    <form method="POST">

        <h2>Update your password</h2>

        <div class="my-6">
            <label for="inputPassword">New password</label>
            <input type="password" name="password" id="inputPassword" placeholder="*******" required>
        </div>

        <input type="hidden" name="token" value="{{ token }}">

        <button type="submit">Update</button>
    </form>
</div>
